:root{
  background-color: #1b1b1f;
}
section {
  display: grid;
  grid-template-columns: 1fr auto;
}
.principal-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.text-container{
  text-align: center;
  
}
.text-container h1 {
  font-size: 50px;
  color: cyan ;
}
.text-container h3 {
  color: azure;
}

.text-container h5 {
color: lightgrey;
}

.button-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.blue-buttons{
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #0070d2;
  border-radius: 1rem;
  border: 1px solid #0070d2;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  :hover {
      background-color: #005fb2;  
      border-color: #005fb2;
  } 
}
.gray-buttons{
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #33363e;
  border-radius: 1rem;
  border: 1px solid #33363e;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  :hover {
      background-color: lightgray;  
      border-color: lightgray;
  } 
}

.principal-container img{
  justify-self: center;
  width: 30%;
}

.card-list{
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  justify-items: center; 
  gap: 20px;
}
.card-menu {
 background-color: #33363e; 
 border-radius: 1rem;
 display: grid;
}

.card-menu a {
  padding-left: 15px;
  margin-top: 5px;
}

.card-menu h2{
  color: #e0e0d8;
  padding-left: 15px;
}

.card-menu h5{
  color: #9a9aa1;
  padding-left: 15px;
  display: flex;

}